# Occupation

### Introduction:


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [27]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [2]:
b=users.loc[users['gender']=='M']
c=users.groupby('occupation').gender.count()
b=b.groupby('occupation').gender.describe()
print(b['freq'])
v=np.array(b['freq'])/np.array(c)
a=b[1]
print(a)

NameError: name 'users' is not defined

### Step 6. For each occupation, calculate the minimum and maximum ages

In [12]:
users.groupby('occupation').age.agg(['mean','min','max'])

                    mean  min  max
occupation
administrator  38.746835   21   70
artist         31.392857   19   48
doctor         43.571429   28   64
educator       42.010526   23   63
engineer       36.388060   22   70
entertainment  29.222222   15   50
executive      38.718750   22   69
healthcare     41.562500   22   62
homemaker      32.571429   20   50
lawyer         36.750000   21   53
librarian      40.000000   23   69
marketing      37.615385   24   55
none           26.555556   11   55
other          34.523810   13   64
programmer     33.121212   20   63
retired        63.071429   51   73
salesman       35.666667   18   66
scientist      35.548387   23   55
student        22.081633    7   42
technician     33.148148   21   55
writer         36.311111   18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [13]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men