In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', \
        'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']

In [3]:
adult=pd.read_csv('adult.data',sep=',', names=names, index_col=False)

In [4]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [5]:
# 1. How many males and females are there?
adult['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

In [6]:
#2. What is the mean male age?
adult[adult['sex'].apply(lambda x: 'Male' in x)]['age'].mean()

39.43354749885268

In [7]:
# 3. What is the proportion of the US citizens?
adult['native-country'].value_counts()[' United-States']/len(adult)

0.895857006848684

In [ ]:
#4. Plot the distribution of people’s education as a bar plot.
plt.figure(figsize=(20,10))
adult['education'].hist()

In [12]:
# 5. What is the mean and standard deviation of the ”final weight” for divorced people?
print('std =', adult[adult['marital-status'].apply(lambda x: 'Divorced' in x)]['fnlwgt'].std())
print('mean =', adult[adult['marital-status'].apply(lambda x: 'Divorced' in x)]['fnlwgt'].mean())

std = 105646.78945933603
mean = 185802.79045689848

In [15]:
#6.  Is it true that the people who receive over 50k are mostly highly educated?
a=adult[(adult['education-num'] >= 13) & (adult['capital-gain'] > 50000)]
b=adult[adult['capital-gain']>50000]
print(len(a)/len(b)>=0.5)

True

In [16]:
# 7. What is the maximum male and female age for each race?
adult.groupby(['race','sex'])['age'].max()

race                 sex
 Amer-Indian-Eskimo   Female    80
                      Male      82
 Asian-Pac-Islander   Female    75
                      Male      90
 Black                Female    90
                      Male      90
 Other                Female    74
                      Male      77
 White                Female    90
                      Male      90
Name: age, dtype: int64

In [18]:
# 8. The people from which countries work as farmers/fishers?
adult[adult['occupation'].apply(lambda x:'Farming-fishing' in x)]['native-country'].unique()

array([' United-States', ' Cambodia', ' Poland', ' Guatemala', ' Mexico',
       ' England', ' ?', ' Philippines', ' Italy', ' Puerto-Rico',
       ' Vietnam', ' Germany', ' Japan', ' Canada', ' Yugoslavia',
       ' Cuba', ' Portugal', ' El-Salvador', ' Hong', ' Ireland',
       ' France'], dtype=object)

In [19]:
# 9. Consider the ratio of the number of 1) male bachelors to male masters, and 2) female 
# bachelors to female masters. Which one is higher?
m = len(adult[(adult['sex'].apply(lambda x: x.strip() == 'Male')) & (adult['education-num'] == 13)]) / \
        len(adult[(adult['sex'].apply(lambda x: x.strip() == 'Male')) & (adult['education-num'] == 14)])
f = len(adult[(adult['sex'].apply(lambda x: x.strip() == 'Female')) & (adult['education-num'] == 13)]) / \
        len(adult[(adult['sex'].apply(lambda x: x.strip() == 'Female')) & (adult['education-num'] == 14)])
if f >= m:
    print('females win!')
else:
    print('males')

males

In [25]:
# 10. What is the largest number of hours a person works a week? How many people who work
# this number of hours are there? What is their income?
max_hour = adult['hours-per-week'].max()
count_ppl = adult[adult['hours-per-week'] == max_hour]
print('max hour = ', max_hour,'\n', 'people count =', len(count_ppl),'\n', 'income: ', count_ppl['capital-gain'].unique())

max hour =  99
 people count = 85
 income:  [    0  2354 15024  4416  6418  2407  2907  4386]